/* Section */
section:not(.bg-img){
	margin-top: -40px;
	padding-top: 80px;
	padding-bottom: 30px;
}

section:not(#resume):not(#contact){
	min-height: 100vh;
}

/* Card */
.card{
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 0;
	min-height: 90%;
	padding: 0 10px;
}

.card img{
	margin-top: 10px;
	margin-bottom: 10px;
	max-height: 30%;
}

/* Carousel */
.carousel-control-prev span, .carousel-control-next span{
	background: #27252c;
	padding: 20px;
	padding-left: 50px;
	border-radius: 20%;
}

.carousel-inner{
	height: 600px;
	min-width: 600px;
	background: #27252c;
}

.carousel-caption{
	background: rgba(0,0,0,0.6);
	color: white;
}

.carousel-item img{
	max-height: 600px;
	display: block;
	margin: auto;
}

/* Footer */
ul.social-buttons li a{
	display: block;
	width: 50px;
	height: 50px;
	font-size: 24px;
	line-height: 50px;
	outline: 0;
	color: rgba(255, 255, 255, 0.8);
}

footer{
	background: #27252c;
	background: url(../img/stressed_linen.png);
	color: white;
}

footer li a:hover{
	background: #323232;
	border: 1px solid #999999;
	border-radius: 5px;
}

/* Background pictures */
.img-overlay{
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(17%, rgba(0, 0, 0, 0.73)), color-stop(35%, rgba(0, 0, 0, 0.66)), color-stop(62%, rgba(0, 0, 0, 0.55)), color-stop(100%, rgba(0, 0, 0, 0.4)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#cc000000', endColorstr='#66000000', GradientType=0);
	background-attachment: fixed;
}

#bg-devfest{
	height: 500px;
	background: #27252c;
	background: url('../img/devfestdc_winners_crop_logo-bg.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: 25% 50%;
}

#resume{
	height: 300px;
	background: #27252c;
	background: url('../img/stressed_linen.png');
	padding-top: 40px;
}

#bg-coding{
	height: 500px;
	background: #27252c;
	background: url('../img/coding-bg.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: 60% 0%;
}

#bg-activities{
	height: 500px;
	background: #27252c;
	background: url('../img/msn-bg.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: 85% 60%;
}

/* Navbar */
.navbar{
	background: #27252c;
	background: rgba(0,0,0,0.3);
	border-bottom: 1px solid black;
	white-space: nowrap;
	font-size: 0.97em;
}

.nav-link.active{
	background: #323232;
	border: 1px solid #999999;
	border-radius: 5px;
}

.fixed-top{
	right: initial;
	width: 100vw;
}

/* Link as button */
a.btn{
	cursor: default;
}

/* Media queries */
@media screen and (max-width: 768px) {
	.carousel-inner{
		height: 400px;
	}

	.carousel-item img{
		max-height: 400px;
	}

	section:not(#resume):not(#contact){
		min-height: 50vh;
	}
}

@media screen and (max-width: 437px) {
	#header-center{
		padding-top: 20vh;
	}
}

/* Colors */
.bg-light{
	background: #fefffa !important;
	color: #212529;
}

.bg-dark{
	background: #1f3750 !important;
	color: white;
}

.bg-dark h2{
	color: white;
}

a{
	color: #00c850;
}

a:hover{
	color: #00c850;
}

.btn-primary{
	background-color: #00c850;
}

.btn-outline-primary{
	border-color: #00c850;
	color: #00c850;
}

.btn-outline-primary:hover{
	background-color:#00c850;
}

.btn-secondary{
	background-color: #de7548;
}

.btn-outline-secondary{
	border-color: #de7548;
	color: #de7548;
}

.btn-outline-secondary:hover{
	background-color: #de7548;
}

/* Quick fix */
#contact, #workExperience{
	margin-top: -1px;
}

/* Nav arrows */
#downarrow{
	position: absolute;
	top: 80vh;
}

#downarrow, #uparrow{
	width: 100%;
	z-index: 100;
	text-align: center;
}

#downarrow a, #uparrow a{
	color: white !important;
	font-size: 3em;
	text-decoration: none;
}

#downarrow a:hover, #uparrow a:hover{
	font-size: 3.2em;
}

/* Animations */
.js.cssanimations section .container{
	opacity: 0;
}

.js.cssanimations .card{
	opacity: 0;
}

/* Fonts */
h1, h2, h3, h4{
	font-family: 'Contrail One', sans-serif;
}

h1{
	font-size: 2em;
}

h2{
	font-size: 3em;
	line-height: 0.9em;
}

h4 small{
	font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	font-size: 0.8em;
}

button{
	font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}