#header{
	position: relative;
	top: -65px;
	height: 100vh;
}

#header-center{
	height: 95%;
	padding-top: 40vh;
}

#header{
	/* background: linear-gradient(#212529, white); */
	background: url(../img/stressed_linen.png);
	/* background-attachment: fixed; */
}

#header{
	background-image: url(../img/header-bg.png);
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
}

#header-center h1{
	color: white;
}

#header-center h4{
	color: white;
}

section:not(.bg-img){
	margin-top: -40px;
	padding-top: 70px;
	padding-bottom: 30px;
}

section:not(#resume):not(#contact){
	min-height: 100vh;
}

body{
	position: relative;
	padding-top: 65px;
}

.card{
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 0;
	min-height: 90%;
	padding: 0 10px;
}

.card img{
	margin-top: 10px;
	margin-bottom: 10px;
	max-height: 30%;
}

.carousel-control-prev span, .carousel-control-next span{
	background-color: black;
	padding: 20px;
	padding-left: 50px;
	border-radius: 20%;
	/* color: black; */
}

.carousel-inner{
	height: 600px;
	min-width: 600px;
	background: black;
}

.carousel-caption{
	background: rgba(0,0,0,0.6);
	color: white;
}

.carousel-item img{
	max-height: 600px;
	display: block;
	margin: auto;
}

ul.social-buttons li a{
	display: block;
	width: 50px;
	height: 50px;
	font-size: 24px;
	line-height: 50px;
	outline: 0;
	color: rgba(255, 255, 255, 0.8);
}

.img-overlay{
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(17%, rgba(0, 0, 0, 0.73)), color-stop(35%, rgba(0, 0, 0, 0.66)), color-stop(62%, rgba(0, 0, 0, 0.55)), color-stop(100%, rgba(0, 0, 0, 0.4)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#cc000000', endColorstr='#66000000', GradientType=0);
	background-attachment: fixed;
}

/* h2{
	font-family: "Segoe UI" !important;
	font-weight: 300;
} */

/* *{
	font-family: "Segoe UI" !important;
	font-weight: 300 !important;
} */

.navbar{
	background: rgba(0,0,0,0.3);
	border-bottom: 1px solid black;
}

.nav-link.active{
	background: #323232;
	border: 1px solid #999999;
	border-radius: 5px;
}

a.btn{
	cursor: default;
}

html, body{
	overflow-x: hidden;
}

.fixed-top{
	right: initial;
	width: 100vw;
}

@media screen and (max-width: 768px) {
	.carousel-inner{
		height: 400px;
	}

	.carousel-item img{
		max-height: 400px;
	}

	section:not(#resume):not(#contact){
		min-height: 50vh;
	}
}

.card:nth-child(even){
	background: red;
}

.bg-light{
	background: #fefffa !important;
	color: #212529;
}

.bg-dark{
	background: #1f3750 !important;
	color: white;
}

.bg-dark h2{
	color: white;
}

/* a{
	color: #eb8255;
}

a:hover{
	color: #eb8255;
}

.btn-outline-primary{
	border-color: #00c850;
	color: #00c850;
}

.btn-outline-primary:hover{
	background-color: #00c850;
} */

a{
	color: #00c850;
}

a:hover{
	color: #00c850;
}

.btn-primary{
	background-color: #00c850;
}

.btn-outline-primary{
	border-color: #00c850;
	color: #00c850;
}

.btn-outline-primary:hover{
	background-color:#00c850;
}

.btn-secondary{
	background-color: #de7548;
}

.btn-outline-secondary{
	border-color: #de7548;
	color: #de7548;
}

.btn-outline-secondary:hover{
	background-color: #de7548;
}

footer{
	background: url(../img/stressed_linen.png);
	color: white;
}

#contact, #workExperience{
	margin-top: -1px;
}